<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>生命数字</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    .text-center{
    text-align: center
  }
  </style>
</head>

<body>
  <div id="app">
    <!-- code-begin -->
    <el-container>
      <el-header>
        <h1 class="text-center">生命数字</h1>
      </el-header>
      <el-main>

        <el-row :gutter="20">
          <el-col :span="12" :offset="4">
            <el-form ref="form" :model="form" label-width="80px">
              <el-form-item label="出生日期">
                <el-col :span="11">
                  <el-date-picker type="date" value-format="yyyy-MM-dd" format="yyyy 年 MM 月 dd 日" placeholder="选择日期" v-model="form.date1" style="width: 100%;"></el-date-picker>
                </el-col>
              </el-form-item>
              <el-form-item>
                {{ form.date1 }}
                <el-button type="primary" @click="onSubmit">立即查询</el-button>
                <el-button type="default" @click="restar">清空结果</el-button>
              </el-form-item>

            </el-form>
          </el-col>
        </el-row>

        <el-row :gutter="20">
          <el-col :span="12" :offset="4">
            <div v-if="isresult==1">结果部分</div>
          </el-col>
        </el-row>

      </el-main>
    </el-container>

    <!-- code-end -->
  </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        form: {
          date1: '',
        },
        isresult:0
      }
    },
    methods: {
      onSubmit() {
        console.log('submit!');
        this.isresult=1;
      },
      restar(){
        this.isresult = 0;
        this.form.date1 = '';
      }
    }
  })
</script>

</html>